.bottom {
    // background-color: #2E1D1E;
    // padding: 10px;
    // font-family: Lato;
    // text-align: center;
    // margin-bottom: 0ch;
    // margin-top: 100px;
    // color: white;
    // bottom: 0px;
    // width: 100%;
    // flex-shrink: 0;
    // position: absolute;
    // bottom:0;
    background-color: #2E1D1E;
    padding: 10px;
    font-family: Lato;
    padding-left: 90px;
    color: white;
    bottom: 0px;
    width: 100%;
    
}

